# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.wt
*.data
*.lock
*.bson
diagnostics*
journal/
*.turtle
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor
.go
bin
*.push-*
*.docker*
*.container*

# ignore container/cloud dependent tools
istio-1.1.7/
